* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.about-head{
  position: absolute;
  top: 50%; /* Position the text vertically in the middle */
  left: 45%; /* Position the text horizontally in the middle */
  transform: translate(-50%, -50%); /* Center the text precisely */
  z-index: 1; /* Ensure the text is above the image */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.75rem;
  font-weight: lighter;
  text-align: left;
  text-shadow: #000000;
}
.nav{
  background-image: linear-gradient(#830583, #db8795);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 2.5rem;
  padding: 0 3rem;
}
.nav ul{
  padding: 0;
  font-size: 1.25rem;
  align-items: center;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.site-title{
  font-size: 1.5rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.site-title:hover{
  transition: all 0.25s ease-in-out;
  transform: scale(1.055);
}
.nav a{
  color: white;
  text-decoration: none;
  align-items: centre;
  padding: 0.25rem;
}
.nav li:hover{
  transition: all 0.25s ease-in-out;
  transform: scale(1.025);
}
.nav li:active{
  background-color: rgb(176, 73, 202);
}
button{
  color: white;
  font-size: 1.5rem;
  background-color: rgb(216, 67, 30);
  padding: 1 1.5rem;
  height: 40px;
  width: 100px;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(216, 67, 30);
  color: white;
  transform: scale(1.025);
  transition: all 0.25s ease-in-out;
}
.container {
  background-image: linear-gradient(#db8795, white);
  margin: 0px auto;
  margin-bottom: 25%;
  text-align:center;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items:center;
  justify-content:flex-end;
}

.login-cont {
padding: 180px;
}

.img-slider-container {
position: relative;
top: 0;
left: 0;
width: 100%;
margin: 0 auto;
aspect-ratio: 10 / 6;
z-index: 1; /* Set a higher z-index to keep it above other content */
background: #333; /* Set a background color or style as desired */
}

.footer-container {
position:relative;
bottom: 0;
width: 100%;
background-color: rgb(224, 224, 224);
text-align: center;
display: flex;
flex-direction: column;
padding: 10px 0;
}

.auth-container {
  padding: 25px;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  background-image: linear-gradient(#cc2dcc, #ee9dab);
  border-radius: 20px;
}
.user-container {
  padding: 25px;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 700px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  background-image: linear-gradient(#cc2dcc, #ee9dab);
  border-radius: 20px;
}

h1 {
  font-size: 1.85rem;
  margin-bottom: 30px;
  color: rgb(69, 5, 99);
}

input {
  width: 100%;
  margin-bottom: 30px;
  font-size: 1rem;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  height: 100px;
  resize: vertical;
  font-family:Arial, Helvetica, sans-serif;
}
.user-input {
  width: 70%;
  margin-bottom: 30px;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.user-input-custom {
  width: 70%;
  margin-bottom: 30px;
  font-size: 1rem;
  padding: 50px;
  border: 1px solid #ccc;
  justify-content: left;
  text-align: left;
  border-radius: 4px;
}

.login-but {
  padding: 10px;
  margin: 20px auto;
  margin-top: 10%;
  margin-bottom: 10%;
  text-decoration: none;
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color:rgba(62, 12, 153, 0.849);
  color: white;
  border: none;
  display: flex;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.login-but:hover {
  background-color: #0056b3;
}

p {
  margin-top: 0px;
  font-size: large;
  text-align: center;
  color: black;
}
.lef-al {
text-align: left;
margin-left: 10px; /* Adjust the margin as needed */
}

.close-button {
text-decoration: none;
position: absolute;
top: 12px;
right: 17px;
cursor: pointer;
font-size: 1.25rem;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.close-button:hover {
transition: all 0.25s ease-in-out;
transform: scale(1.25);
}

.vision {
/* background-color: #f5f5f5; */
padding: 40px;
max-width: 1000px;
margin: 0 auto;
}


.vision h1 {
text-align:left;
color: purple;
font-size: 2.5rem;
font-family: Arial, Helvetica, sans-serif;
}

.vision p {
text-align: justify;
margin: 20px auto;
max-width: 800px;
color: rgb(46, 46, 46);
font-size: 1.25rem;
line-height: 1.5;
font-family:Arial, Helvetica, sans-serif;
}

.vision-content {
display: flex;
align-items: center;
justify-content: space-between;
}

.vision img {
padding: 50px;
max-width: 60%; /* Set the maximum width to fit its container */
height: auto;
width: auto;
margin-top: 10px;
}
.profile-image {
width: 40px; /* Adjust the width to your preferred size */
height: 40px; /* Adjust the height to your preferred size */
border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
border: 2px solid #fff; /* Add a white border around the image */
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
overflow: hidden;
}

.profile-image:hover{
transition: all 0.25s ease-in-out;
transform: scale(1.15);
cursor: pointer;
}

/* Style the user profile dropdown menu */
.profile-menu {
position: absolute;
top: 100px;
right: 20px;
background-color: rgb(214, 213, 213);
border-radius: 10px;
padding: 10px 20px;
width: 200px;
z-index: 1;
}

.profile-menu::before{
content: '';
position: absolute;
top: -5px;
right: 40px;
height: 20px;
width: 20px;
background:rgb(214, 213, 213);
transform: rotate(45deg);
}

.profile-menu.active {
opacity: 1;
visibility: visible;
transform: translateY(0);
transition-property: opacity, visibility, transform;
transition-duration: 0.3s;
transition-timing-function: ease-in-out;
}

.profile-menu.inactive {
opacity: 0;
visibility: hidden;
transform: translateY(-20px);
transition-property: opacity, visibility, transform;
transition-duration: 0.3s;
transition-timing-function: ease-in-out;
/* transition: var(--speed) ease-in-out; */
}

.profile-menu div li {
padding: 5px 0;
border-top: 1px solid rgba(0, 0, 0, 0.05);
display: flex;
flex-direction: column; 
}


.profile-menu div li:hover a{
color: rgba(212, 33, 9);
cursor: pointer;
}

.dropdownItem {
display: flex;
margin: 5px auto;
}

.dropdownItem a{
max-width: 200px;
margin-left: 30px;
color: #000000;
}